{# purpose of this template: dates user index view #}
{% extends 'RKAlmanacModule::base.html.twig' %}
{% block title __('dates') %}
{% block content %}
    <p>{{ __('Welcome to the date section of the Almanac application.') }}</p>
{% endblock %}
